*, *:after, *:before{
    box-sizing: border-box;
}
button{
    background-color: transparent;
    border-style: none;
}
body{
    margin: 0;
    background-color: rgb(248, 248, 248);
}
body a{
    text-decoration: none
}
.header{
    width: 100%;
    height: 36px;
    background-color: #4f3f68;
}
.head-top{
    height: 36px;
    color: white;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    justify-content: space-between;
}
.head-top .h6{
    font-weight: 500;
    line-height: 1.2;    
    margin-top: 0;
    color: white;
    margin-bottom: 0!important;
    font-size: 1rem;
    padding-left: 35px;    
}
.contact{
    display: flex;
    align-items: center;
    padding-bottom: 20px;    
}
h5{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0px;
    display: inline-block;
}
.contact span{
    color: rgba(255, 255, 255, 0.52);
    font-size: 11px;
    font-weight: 400;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.39);
}
.contact a{
    color: white;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    text-decoration: none;
}
.btn-run:hover{
    color: #fed453;
}
.btn-run{
    background-color: transparent;
    color:white;
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
    padding-left: 10px;
    display: inline-block;
    padding-top: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.39);
}
.head-hd{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(246, 246, 246);
    /* position: fixed; */
    /* position: relative;
    will-change: transform;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(246, 246, 246);
    transition: border 0.2s ease-in-out 0s; */
}
.toggler .fas {
    font-weight: 700;
    font-size: 20px;
    color: #fed453;
}
.head-cont{
    width: 100%;
    height: 80px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 40px;
        justify-content: space-between;
    
        max-width: 1280px;
}
.categoris{
    height: 34px;
    margin-right: 15px;
}
.toggler{
    width: 50px;
    height: 34px;
    background-color: #4f3f68;
    border-radius: 4px; 
}
.logo{
    font-size: 32px;
    font-weight: bold;
    padding-left: 10px;
    color: #4f3f68;
}
.search-btn{
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    position:absolute;
    background-image: url(img/searcg.svg);    
    background-repeat: no-repeat;
    background-position: center center;
    animation: 8s ease-in-out 0s infinite normal forwards running flipping;
    transition: all 200ms ease-in-out 0s;
    cursor: pointer;
    top: 0px;
    bottom: 0px;
    left: 0px;

}
.search{
    margin: 0px 50px;
    display: flex;
    flex: 1 1 100%;
    position: relative;
}
input{
    overflow: visible;
}
.search-input{
    width: 100%;
    height: 40px;
    color: rgb(102, 102, 102);
    border-radius: 4px;
    border: 1px solid rgb(243, 243, 243);
    background-color: rgb(243, 243, 243);
    padding: 0px 20px 0px 50px;
}
.icon-menus {
    display: flex;
}
.platform{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 20px;
    position: relative;
}
.platform .icon {
    width: 22px;
    height: 22px;
    margin-top: 3px;
}

.menu.menu-wishlist .icon {
    background-image: url(img/i1.svg);
    margin-left: 25px;
}
h6 {
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 25px;
}
.menu span.icon{
    display: block;
    font-size: 13px;
    line-height: 1.5;
    width: 26px;
    height: 26px;
    background-size: 26px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 200ms ease-in-out 0s;
}
.menu.menu-wallet .icon {
    background-image: url(img/i2.svg);
}
.menu-cart .cart-icon {
    background-image: url(img/i3.svg);
    width: 26px;
    height: 26px;
    background-size: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}
.dcJxFc .profile-icon {
    width: 26px;
    height: 26px;
    display: block;
    background-size: 26px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(img/i4svg.svg);
    transition: all 200ms ease-in-out 0s;
}
.dCttQJ {
    background-color: white;
    will-change: transform;
    transition: transform 0.3s ease 0s;
    position: relative;
}
.dCttQJ .container {
    height: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
.dCttQJ .container a {
    font-size: 13px;
    font-weight: 500;
    margin-right: 20px;
    text-transform: uppercase;
    transition: all 200ms ease 0s;
    padding: 17px 0px 13px;
    position: relative;
}
.w-100 {
    width: 100%!important;
}
.breadcrumb {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.iruSSw .breadcrumb {
    margin: 0px;
    border-radius: 0px;
    padding: 15px 0px;
    background-color: transparent;
}
.iruSSw .breadcrumb li:last-child a {
    color: rgb(36, 36, 36);
    font-weight: 500;
}
.col-3 {
    
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 8px;
    padding-right: 8px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.eNzxdO {
    padding: 5px 17px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

.eNzxdO .shoppy-list__item {
    margin-bottom: 8px;
}
.eNzxdO .shoppy-list__item a {
    color: rgb(49, 49, 49);
    font-size: 13px;
    padding-left: 24px;
    background-size: 8px;
    background-position: left 3px center;
    background-image: url(img/i5.svg);
    background-repeat: no-repeat;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 8px;
    padding-right: 8px;
}
.ljuEXr .taxon-bar {
    padding: 15px 17px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
}
.bIBXRM {
    margin: 0px 0px 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.bIBXRM h4 {
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(36, 36, 36);
    margin: 0px;
}
.bIBXRM h4 span {
    color: rgb(153, 153, 153);
    padding-left: 5px;
    font-size: 14px;
    font-weight: 400;
}
.kVMHSL {
    width: 220px;
    display: block;
    color: rgb(36, 36, 36);
    font-size: 13px;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid rgb(228, 228, 228);
    position: relative;
    outline: none;
}
.kVMHSL select {
    width: 100%;
    height: 35px;
    outline: none;
    appearance: none;
    padding: 10px 30px 10px 15px;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-image: url(img/i6.svg);
}
.kmfEfB {
    margin-bottom: 0px;
}
.kmfEfB .title-bar {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
}
.kmfEfB .title-bar h4 {
    color: rgb(36, 36, 36);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
}
.kmfEfB .title-bar .btn-expander {
    color: rgb(36, 36, 36);
    font-size: 13px;
    font-weight: 500;
}
.kmfEfB .title-bar .btn-expander .angle {
    width: 8px;
    height: 8px;
    margin-left: 5px;
    display: inline-block;
    background-size: 8px;
    background-position: center center;
    background-image: url(img/i5.svg);
    transition: all 200ms ease-in-out 0s;
}
.kmfEfB .brands {
    display: flex;
    flex-flow: row wrap;
}
.kmfEfB .brands .brand {
    flex: 0 0 6%;
    margin-right: 0.7%;
    margin-bottom: 5px;
    transition: all 200ms ease-in-out 0s;
    position: relative;
    border-radius: 3px;
    margin-top: 2px;
}
.kmfEfB .brands .brand img {
    width: 100%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 3px;
}

.kmfEfB .title-bar .btn-expander.expanded .angle {
    transform: rotate(90deg);
}

.coIcNu {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}
.coIcNu .taxon-move-left {
    width: 30px;
    height: 38px;
    background-size: 100%;
    background-image: linear-gradient(to right, rgb(246, 246, 246) 30%, rgba(246, 246, 246, 0));
    transition: background-color 100ms ease-in-out 0s;
    position: absolute;
    left: 0px;
    top: 0px;
}
.coIcNu .taxons {
    flex: 1 1 calc(100% - 80px);
    display: flex;
    overflow: hidden;
}
.coIcNu .taxons .taxon:not(:last-of-type) {
    margin-right: 10px;
}
.coIcNu .taxons .taxon:hover {
    font-weight: 500;
    border-color: #fed453;
}
.coIcNu .taxons .taxon {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    color: rgb(36, 36, 36);
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
    padding: 9px 15px 8px;
    transition: all 200ms ease-in-out 0s;
}
.coIcNu .taxon-move-right {
    width: 30px;
    height: 38px;
    background-image: linear-gradient(to left, rgb(246, 246, 246) 30%, rgba(246, 246, 246, 0));
    transition: background-color 100ms ease-in-out 0s;
    position: absolute;
    right: 0px;
    top: 0px;
}
.coIcNu:hover .taxon-move-left {
    border-radius: 4px 0px 0px 4px;
    background-size: 16px;
    background-position: center center;
    background-color: #fed453;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgY2xhc3M9IiI+PGcgdHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAwIC0xIDEyOSAxMjkpIj48Zz4KICAgIDxwYXRoIGQ9Im00MC40LDEyMS4zYy0wLjgsMC44LTEuOCwxLjItMi45LDEuMnMtMi4xLTAuNC0yLjktMS4yYy0xLjYtMS42LTEuNi00LjIgMC01LjhsNTEtNTEtNTEtNTFjLTEuNi0xLjYtMS42LTQuMiAwLTUuOCAxLjYtMS42IDQuMi0xLjYgNS44LDBsNTMuOSw1My45YzEuNiwxLjYgMS42LDQuMiAwLDUuOGwtNTMuOSw1My45eiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojMDAwMDAwIj48L3BhdGg+CiAgPC9nPjwvZz4gPC9zdmc+);
}
.coIcNu:hover .taxon-move-right {
    border-radius: 0px 4px 4px 0px;
    background-size: 16px;
    background-position: center center;
    background-color: #fed453;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgY2xhc3M9IiI+PGc+PGc+CiAgICA8cGF0aCBkPSJtNDAuNCwxMjEuM2MtMC44LDAuOC0xLjgsMS4yLTIuOSwxLjJzLTIuMS0wLjQtMi45LTEuMmMtMS42LTEuNi0xLjYtNC4yIDAtNS44bDUxLTUxLTUxLTUxYy0xLjYtMS42LTEuNi00LjIgMC01LjggMS42LTEuNiA0LjItMS42IDUuOCwwbDUzLjksNTMuOWMxLjYsMS42IDEuNiw0LjIgMCw1LjhsLTUzLjksNTMuOXoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6IzAwMDAwMCI+PC9wYXRoPgogIDwvZz48L2c+IDwvc3ZnPg==);
}
.dgijIY {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 2px;
    position: relative;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.dgijIY .ins {
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.dgijIY .ins img {
    /* width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    inset: 0px; */
}
.dgijIY .ribbon.new {
    color: rgb(36, 36, 36);
    border: 2px solid #fed453;
}
.dgijIY .ribbon {
    height: 30px;
    z-index: 1;
    line-height: 28px;
    color: rgb(36, 36, 36);
    display: block;
    font-size: 10px;
    font-weight: 400;
    padding: 0px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 8px;
    top: 8px;
}
.dgijIY .brand-logo {
    width: 30px;
    height: 30px;
    z-index: 1;
    border-radius: 4px;
    background-color: rgb(68, 68, 68);
    position: absolute;
    left: 8px;
    top: 8px;
}
.dgijIY .brand-logo img {
    width: 100%;
    border-radius: 4px;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.dgijIY .dtl {
    padding: 10px;
    margin-top: -5px;
}
.dgijIY .dtl h2 {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(36, 36, 36);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    line-height: normal;
}
.dgijIY .dtl h4 {
    height: 15px;
    color: rgb(102, 102, 102);
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
}
.dgijIY .dtl .pb {
    color: rgb(34, 34, 34);
    padding: 0px;
    margin: 5px 0px 0px;
    font-size: 15px;
    font-family: arial, sans-serif;
    font-weight: 600;
}




