<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zasah</title>
</head>
<body>
    <form action="/zasahshalgah" method="POST">
        {% csrf_token %}        
        <input type="text" value="{{bid}}" name="bid" />
        <input type="text" value="{{bner}}" name="bner"/>
        <input type="text" value="{{bprice}}"name="bprice"/>
        <input type="text" value="{{btoo}}" name="btoo"/>
        <input type="text" value="{{bimage}}" name="bimage"/>
        <input type="submit"/>
    </form>
</body>
</html>